<section
  class="relative flex flex-col items-center max-w-screen-xl px-4 mx-auto md:flex-row sm:px-6 p-8 md:py-[60px] md:px-20 bg-black"
  id="about"
>
  <div
    class="flex items-center py-5 md:w-5/12 md:pb-20 md:pt-10 md:pl-10 md:mr-8"
  >
    <img src="/img/erick.webp" alt="erick lasluisa" />
  </div>

  <div class="row items-center py-5 md:w-7/12 md:pb-20 md:pt-10">
    <div class="text-left">
      <h2
        class="text-white text-5xl font-normal sm:text-4xl md:text-5xl leading-[56px"
      >
        <span class="font-extrabold text-[#5b60f4]">Sobre</span> mi
      </h2>
      <p
        class="text-zinc-600 text-base font-normal leading-normal tracking-tight sm:text-1xl mt-5 text-justify"
      >
        Soy un desarrollador apasionado por el desarrollo web, mis habilidades
        se extienden tanto en el <span class="text-[#5b60f4]">Frontend</span> como
        en el
        <span class="text-[#5b60f4]">Backend</span> del desarrollo web. En el Frontend,
        domino HTML, CSS y JavaScript, junto con el uso de librerías como React y
        el framework Astro. Actualmente, estoy ansioso por adentrarme en el mundo
        de Next.js para ampliar mis horizontes en el desarrollo frontend. En el backend,
        tengo experiencia con Node.js y Express, además de trabajar con bases de
        datos relacionales como MySQL y PostgreSQL, así como con bases de datos no
        relacionales como MongoDB.
        <br /><br />
        Empecé mi carrera en Ingeniería de Software en el año 2021 en la Universidad
        de las Fuerzas Armadas ESPE en
        <span class="text-[#5b60f4]">Quito-Ecuador</span>, donde descubrí mi
        pasión por la programación. Desde entonces, he estado trabajando en
        proyectos personales y académicos mejorando mis habilidades y
        aprendendiendo nuevas tecnologías.
        <br /><br />
        Disfruto explorando nuevas tecnologías y abordando desafíos con un enfoque
        colaborativo. Mi capacidad para solucionar problemas y trabajar en equipo
        me permite enfrentar cualquier desafío con determinación y creatividad. Para
        mí, los sitios web no solo deben ser funcionales y rápidos, sino también
        visualmente atractivos. Creo firmemente en la importancia de la experiencia
        del usuario y la estética en el diseño web.
        <br /><br />
        <span class="text-[#5b60f4] font-bold italic">
          ¡Estoy emocionado por seguir creciendo y contribuir al mundo del
          desarrollo web con cada proyecto que emprenda!
        </span>
      </p>
    </div>
  </div>
</section>
