<section
  class="relative flex flex-col-reverse items-center max-w-screen-xl px-4 mx-auto md:flex-row sm:px-6 p-8 md:py-[60px] md:px-20"
  id="hero"
>
  <div class="row items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
    <div class="text-left space-y-3">
      <h2 class="text-4xl font-normal md:text-5xl">
        Hola Soy <span class="font-extrabold text-[#5b63f4]"
          >Erick Lasluisa</span
        >
      </h2>
      <h2 class="text-4xl font-extrabold md:text-5xl">
        Estudiante de <span
          class="text-white font-sans font-outline-sm md:font-outline"
          >Ingeniería de Software</span
        >
      </h2>
      <h2 class="text-4xl font-extrabold md:text-5xl text-[#5b63f4]">
        Web <span class="font-normal text-black">Developer</span>
      </h2>
      <p
        class="text-zinc-700 text-base font-normal leading-normal tracking-tight pb-8"
      >
        Soy <span class="text-[#5b63f4ba]">Erick Lasluisa</span>, un estudiante
        de Ingeniería de Software en la Universidad de las Fuerzas Armadas ESPE,
        me apasiona el <span class="text-[#5b63f4ba]">desarrollo web</span> y la
        programación en general. Me encanta aprender cosas nuevas y compartir mis
        conocimientos con los demás.
      </p>
    </div>
    <div
      class="w-[264px] h-14 py-1 justify-start items-start gap-6 inline-flex"
    >
      <button
        class="w-[153px] h-14 px-5 py-4 bg-[#5b60f4] rounded justify-center items-center gap-2 inline-flex"
      >
        <svg
          class="w-6 h-6 fill-black"
          height="100"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 100 100"
          width="100"
          x="0"
          xmlns="http://www.w3.org/2000/svg"
          y="0"
        >
          <path
            class="svg-fill-primary"
            d="M50,1.23A50,50,0,0,0,34.2,98.68c2.5.46,3.41-1.09,3.41-2.41s0-4.33-.07-8.5c-13.91,3-16.84-6.71-16.84-6.71-2.28-5.77-5.55-7.31-5.55-7.31-4.54-3.1.34-3,.34-3,5,.35,7.66,5.15,7.66,5.15C27.61,83.5,34.85,81.3,37.7,80a10.72,10.72,0,0,1,3.17-6.69C29.77,72.07,18.1,67.78,18.1,48.62A19.34,19.34,0,0,1,23.25,35.2c-.52-1.26-2.23-6.34.49-13.23,0,0,4.19-1.34,13.75,5.13a47.18,47.18,0,0,1,25,0C72.07,20.63,76.26,22,76.26,22c2.72,6.89,1,12,.49,13.23a19.28,19.28,0,0,1,5.14,13.42c0,19.21-11.69,23.44-22.83,24.67,1.8,1.55,3.4,4.6,3.4,9.26,0,6.69-.06,12.08-.06,13.72,0,1.34.9,2.89,3.44,2.4A50,50,0,0,0,50,1.23Z"
          ></path>
        </svg>
        <a
          class="text-black text-xl font-semibold font-['Sora'] leading-normal tracking-tight"
          href="https://github.com/ericklasluisa"
          target="_blank">Github</a
        >
      </button>

      <button
        class="w-[153px] h-14 px-5 py-4 bg-[#5b60f4] rounded justify-center items-center gap-2 inline-flex"
      >
        <svg
          width="256"
          height="256"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid"
          viewBox="0 0 256 256"
          ><path
            d="M218.123 218.127h-37.931v-59.403c0-14.165-.253-32.4-19.728-32.4-19.756 0-22.779 15.434-22.779 31.369v60.43h-37.93V95.967h36.413v16.694h.51a39.907 39.907 0 0 1 35.928-19.733c38.445 0 45.533 25.288 45.533 58.186l-.016 67.013ZM56.955 79.27c-12.157.002-22.014-9.852-22.016-22.009-.002-12.157 9.851-22.014 22.008-22.016 12.157-.003 22.014 9.851 22.016 22.008A22.013 22.013 0 0 1 56.955 79.27m18.966 138.858H37.95V95.967h37.97v122.16ZM237.033.018H18.89C8.58-.098.125 8.161-.001 18.471v219.053c.122 10.315 8.576 18.582 18.89 18.474h218.144c10.336.128 18.823-8.139 18.966-18.474V18.454c-.147-10.33-8.635-18.588-18.966-18.453"
            fill="black"></path></svg
        >

        <a
          class="text-black text-xl font-semibold font-['Sora'] leading-normal tracking-tight"
          href="https://www.linkedin.com/in/ericklasluisa/"
          target="_blank">LinkedIn</a
        >
      </button>
    </div>
  </div>
  <div class="flex items-center justify-end py-5 md:w-6/12 md:pb-20 md:pt-10">
    <img
      class="h-[400px] w-[400px] object-cover"
      src="/img/CV.webp"
      alt="erick lasluisa"
    />
  </div>
</section>
